#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-color);
  padding: 4rem;
  box-sizing: border-box;
  pointer-events: none;
}

#navbar-logo {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

#navbar-logo-text {
  padding: 1rem;
  padding-top: 0;
}

#navbar-links {
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#navbar-links li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem;
  padding-top: 0;
}

#navbar-links li a:hover {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.2s;
}
